.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #9a8c98;
  border-radius: 8px;

}

.title {
  color: #22223b;
  font-size: 32px;
  margin-bottom: 20px;
}

.input-label {
  display: block;
  margin-bottom: 10px;
  color: #22223b;
}

.input-field {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  color: #22223b;
  background-color: #f2e9e4;
}

.calculate-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
}

.calculate-button:hover {
  background-color: #0056b3;
}

.output-container {
  margin-top: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #f2e9e4;
}

.output-heading {
  color: #22223b;
  font-size: 24px;
  margin-bottom: 20px;
}

.output-results {
  color: #212529;
}